.containerdeneme {
  position: relative;
  left: 20%;
  width: 240px;
  height: 480px;
  background-color: white;
  border: 0px solid white;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  border-right: 0;
  z-index: 4;
  overflow: hidden;
}

.photo-animate-col {
  position: relative;
  left: 200px;
}

.animation {
  position: absolute;
  width: 240px;
  bottom: 0;
  height: 0;
  background-color: black;
  z-index: 1;
  animation: fill 15s linear infinite;
}

.container2 {
  position: absolute;
  top: 0px;
  left: 3px;
  width: 240px;
  height: 480px;
  border: 2px solid lightgray;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  border-right: 0;
  opacity: 4;
  z-index: 5;
  background-color: white;
}

.Dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  visibility: visible;
  z-index: 6;
  transition: background-color 0.5s;
}

.text1 {
  position: absolute;
  top: -30px;
  left: 45%;
}

.text2 {
  position: absolute;
  top: 55px;
  left: 14%;
}

.text3 {
  position: absolute;
  top: 160px;
  left: 7%;
}

.text4 {
  position: absolute;
  top: 295px;
  left: 8%;
}

.text5 {
  position: absolute;
  top: 415px;
  left: 9.5%;
}

.text6 {
  position: absolute;
  top: 495px;
  left: 42%;
}

.Dot1 {
  top: -5px;
  left: 53%;
}

.Dot2 {
  top: 66px;
  left: 30.5%;
}

.Dot3 {
  top: 170px;
  left: 22%;
}

.Dot4 {
  top: 300px;
  left: 22%;
}

.Dot5 {
  top: 413px;
  left: 31.5%;
}

.Dot6 {
  top: 475px;
  left: 53%;
}

.Dot.active {
  background-color: black;
}

@keyframes fill {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.bg-daire {
  position: absolute;
  right: 0;
  width: 15vw;
  height: 90%;
  background-image: url("https://boac-website.s3.eu-central-1.amazonaws.com/home_dessert_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}

.pictures {
  visibility: visible;
  z-index: 10;
  position: absolute;
  right: 22%;
  width: 440px;
  height: 440px;
  margin-right: -4vw;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://boac-website.s3.eu-central-1.amazonaws.com/homepage_dessert_1.png");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text1 {
    left: 60%;
    top: -10px;
  }

  .Dot1 {
    left: 96%;
    top: 8px;
  }

  .text2 {
    left: 18%;
  }

  .Dot2 {
    left: 53%;
  }

  .text3 {
    left: -10px;
  }

  .Dot3 {
    left: 26%;
  }

  .text4 {
    left: -10px;
  }

  .Dot4 {
    left: 26%;
  }

  .text5 {
    left: 7%;
  }

  .Dot5 {
    left: 56%;
  }

  .text6 {
    left: 52%;
    top: 100%;
  }

  .Dot6 {
    left: 96%;
    top: 97%;
  }

  .photo-animate-col {
    left: -10px;
  }

  .pictures {
    width: 300px;
    height: 300px;
    top: 7vh;
    margin-right: -50vw;
  }

  .bg-daire {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 768px) and (min-width: 600px) {
  .text1 {
    left: 85%;
    top: -40px;
  }

  .Dot1 {
    left: 100%;
  }

  .text2 {
    left: 15%;
  }

  .Dot2 {
    left: 44.5%;
  }

  .text3 {
    left: -10px;
  }

  .Dot3 {
    left: 25%;
  }

  .text4 {
    left: -10px;
  }

  .Dot4 {
    left: 24.5%;
  }

  .text5 {
    left: 5%;
  }

  .Dot5 {
    left: 47.5%;
  }

  .text6 {
    left: 70%;
  }

  .Dot6 {
    left: 100%;
  }

  .photo-animate-col {
    left: 50px;
  }

  .pictures {
    width: 300px;
    height: 300px;
    top: 9vh;
    margin-right: -20vw;
  }

  .bg-daire {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 992px) and (min-width: 768px) {
  .text1 {
    left: 55%;
  }

  .Dot1 {
    left: 70%;
  }

  .text2 {
    left: 15%;
  }

  .Dot2 {
    left: 35.5%;
  }

  .text3 {
    left: 4%;
  }

  .Dot3 {
    left: 23%;
  }

  .text4 {
    left: 4.5%;
  }

  .Dot4 {
    left: 23%;
  }

  .text5 {
    left: 9%;
  }

  .Dot5 {
    left: 37.5%;
  }

  .text6 {
    left: 48%;
  }

  .Dot6 {
    left: 70%;
  }

  .photo-animate-col {
    left: 100px;
  }

  .pictures {
    width: 340px;
    height: 340px;
    top: 5vh;
    margin-right: -10vw;
  }

  .bg-daire {
    width: 15vw;
    height: 80%;
    margin-top: 5vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 1200px) and (min-width: 992px) {
  .text1 {
    left: 52%;
  }

  .Dot1 {
    left: 63%;
  }

  .text2 {
    left: 12%;
  }

  .Dot2 {
    left: 33.5%;
  }

  .text3 {
    left: 3.5%;
  }

  .Dot3 {
    left: 22.5%;
  }

  .text4 {
    left: 4%;
  }

  .Dot4 {
    left: 22.5%;
  }

  .text5 {
    left: 6%;
  }

  .Dot5 {
    left: 35%;
  }

  .text6 {
    left: 47%;
  }

  .Dot6 {
    left: 63%;
  }

  .pictures {
    width: 380px;
    height: 380px;
    top: 3vh;
    margin-right: -7vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1400px) and (min-width: 1200px) {
  .bg-daire {
    width: 20vw;
    height: 90%;
  }

  .text1 {
    left: 47%;
  }

  .Dot1 {
    left: 60%;
  }

  .text2 {
    left: 13%;
  }

  .Dot2 {
    left: 32.5%;
  }

  .text3 {
    left: 4.5%;
  }

  .Dot3 {
    left: 22.5%;
  }

  .text4 {
    left: 5%;
  }

  .Dot4 {
    left: 22.5%;
  }

  .text5 {
    left: 6%;
  }

  .Dot5 {
    left: 33.5%;
  }

  .text6 {
    left: 47%;
  }

  .Dot6 {
    left: 60%;
  }
}